<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.firstname %></h1>
    <p>
      We, the administrator, basically just deleted the crap out of your account! As a result all the reviews linked to you are also going to be destroyed.
    </p>
  </body>
</html>